page-home {
  .home {
    //background-color: black;
  }

  ion-reorder {
    width: 10px !important;
  }

  .scroll-content{
    padding: 5px !important;
  }
  .toolbar {
    color: white !important;
  }
  .toolbar-background {
    background-color: #3C94BF;
  }

  ion-icon {
    font-size: 1.8em;
  }

  .score {
    font-size: 1.6em;
    color: black;
    text-align: center;
    //background-color: grey;
  }

  .plusMinus {
    font-size: 1.6em;
    color: black;
    padding:  0 5px !important;
    margin: 6px 0 0 0 !important;
    overflow: hidden;
  }
  .plusMinus button{
    color: black;
    margin: 0 !important;
    margin-bottom: 10px !important;
    color: white;
    width: 40px  !important;
    height: 40px  !important;
  }

}
